<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>SignUp</h2>
<form action="/signup" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" required><br>
    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" required><br>
    <label for="email_id">Email:</label>
    <input type="email" name="email_id" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br>
    <label for="confirm_password">Confrom Password:</label>
    <input type="password" name="confirm_password" required><br>
    <label for="phone_no">Phone no:</label>
    <input type="text" name="phone_no" required><br>
    <label for="manager_name">Manager Name:</label>
    <input type="text" name="manager_name" required><br>
    <input type="submit" value="SignUp">
</form>
</body>
</html>